
! General settings
URxvt.saveLines: 100000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.cursorBlink: True

! Fonts
!Anonymous Pro
URxvt.font: xft:Anonymice\ Powerline:size=12,xft:Hack-Regular:size=12,xft:Roboto\ Mono\ for\ Powerline:size=12,xft:Source\ Code\ Pro\ for\ Powerline:size=12,xft:PowerlineSymbols,xft:Symbola:size=12,xft:Anonymice\ Nerd\ Font:size=12
!URxvt.font: xft:fontawesome-webfont:size=9
Xft.lcdfilter: lcddefault
!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

URxvt.letterSpace: 0

URxvt.foreground: #ffffff
URxvt.internalBorder: 4
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt*scrollWithBuffer: true

URxvt.perl-ext: default,url-select,resize-font,fullscreen,keyboard-select,vtwheel
!! url select
URxvt.keysym.M-u: 		perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
!! resize font
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up
!! fullscreen
URxvt.keysym.F11: 		perl:fullscreen:switch
!! keyboard select
URxvt.keysym.M-Escape		perl:keyboard-select:activate
*foreground: #00cc00
*foreground_bold: #a8a19f
*cursor: #a8a19f
*background:       #1b1918
!!*background: rgba(0, 0, 0, .7)

URxvt.intensityStyles:	false
URxvt.background:       [80]#000000
URxvt.depth:		32
URxvt.cursorColor:	white
URxvt.perl-lib:		$HOME/.config/scripts
URxvt.colorUL:		#4682B4

rofi.fake-transparency:	true
rofi.lines:		3
rofi.bw:		0
rofi.opacity:		"10"
rofi.hide-scrollbar:	true
rofi.width:		30

